/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(img/img01.gif) repeat-x;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
}

h1, h2, h3 {
	margin-top: 0;
}

h1 {
	font-size: 136%;
}

h2 {
	font-size: 107%;
}

h3 {
	font-size: 100%;
}

p, ul, ol {
	margin-bottom: 1.6em;
	line-height: 170%;
}

p {
}

blockquote {
	font-style: italic;
}

ul {
}

ol {
}

a {
	color: #1777B1;
}

a:hover {
	text-decoration: none;
}

small {
}

img {
	border: 1px solid #B2B2B2;
}

img.left {
	float: left;
	margin: 5px 15px 0 0;
}

hr {
	display: none;
}

img.right {
	float: right;
	margin: 0 0 0 15px;
}

/* header */

#header {
	width: 700px;
	height: 130px;
	margin: 0 auto;
	padding-top: 20px;
}

/* Logo */

#logo {
	margin-left: 205px;
	width: 400px;
	height: 100px;
	background: url(img/header2.gif) no-repeat;
}

#logo h1 {
	margin: 0;
	padding-top: 50px;
	text-transform: lowercase;
	font-size: 48px;
	line-height: 60px;
}

#logo h2 {
	margin: -10px 0 0 0;
	text-transform: uppercase;
	text-align: right;
	font-size: 8px;
	line-height: 8px;
}

#logo a {
	text-decoration: none;
	color: #7F7772;
}

#logo a:hover {
	color: #000000;
}

/* Page */

#page {
	width: 700px;
	margin: 0 auto;
}

/* Content */

#content {
	float: left;
	width: 380px;
	margin: 15px;
}

#content h1.title {
	margin-bottom: 25px;
	padding-left: 5px;
	border-left: 25px solid #D15600;
	text-transform: lowercase;
	color: #1777B1;
}

#content h2.title {
	margin-bottom: 25px;
	padding-left: 5px;
	border-left: 15px solid #D15600;
	text-transform: lowercase;
	color: #7F7772;
}

#content .title span {
	color: #000000;
}

.twocols {
	padding-top: 20px;
	border-top: 1px solid #CCCCCC;
}

.twocols .col1 {
	float: left;
	width: 180px;
}

.twocols .col2 {
	float: right;
	width: 180px;
	padding-left: 10px;
	border-left: 1px solid #EFEFEF;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list li {
	padding: 5px 10px;
	border-top: 1px solid #EFEFEF;
}

.list li.first {
	border: none;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 200px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
}

#sidebar li ul {
}

#sidebar li li {
}

#sidebar h2 {
	padding: 5px 10px;
	background: #EFEFEF;
	border-bottom: 1px solid #CCCCCC;
	text-transform: uppercase;
	font-size: 100%;
}

#sidebar h2 span {
	color: #FF0084;
}

#sidebar h3 {
}

#sidebar p {
}

#sidebar a {
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Menu */

#menu {
	height: 425px;
	margin-bottom: 20px;
}

#menu ul {
}

#menu li {
	display: block;
	float: left;
	width: 140px;
	padding: 5px 10px;
	border-bottom: 1px solid #EFEFEF;
}

#menu a {
	padding-left: 5px;
	border-left: 10px solid #1777B1;
	text-transform: uppercase;
	font-size: 92%;
	font-weight: bold;
	color: #7F7772
}

#menu li.active a {
	border-left: 10px solid #FF9523;
}

/* News */

#news {
	margin-bottom: 20px;
}

#news ul {
	line-height: normal;
}

#news li {
	padding: 10px;
}

#news h3 {
	margin: 0;
	font-size: 85%;
}

#news h3 span {
	padding: 0 5px;
	background: #1777B1;
	color: #FFFFFF
}

#news p {
	margin: 0;
	line-height: normal;
}

#news a {
}

/* Footer */

#footer {
	clear: both;
	height: 100px;
	padding-top: 20px;
	background: #EFEFEF;
	border-top: 1px solid #CCCCCC;
}

#footer p {
	margin: 0;
	text-align: center;
	font-size: 82%;
}
